 @model IEnumerable<DACS_SV5T.Models.TINTUC>

<div class="panel panel-primary" style="width: 100%;">
    <div class="panel-heading"><a href="/tin-tuc/" style="color:white">Tin mới</a></div>
    <div class="panel-body">
        @foreach (var item in Model)
           
        {
            <div style="margin-bottom: 5px;"><img src="~/Content/img/newicon_vi.gif">  <a href="/chi-tiet-tin-tuc/@item.META-@item.ID_TT">@item.TITLE</a></div>
        }
        <div class="pull-right"><a href="/tin-tuc">Xem thêm...</a></div>
    </div>
</div>

