@model IEnumerable<DACS_SV5T.Models.DANHGIA>
@foreach (var item in Model)
{
    /*
<td height="20px" title="Đã duyệt">
    @Html.DisplayFor(modelItem => item.TCHUAN_HOCTAP)
    @*<br />
        <img src="~/Content/img/control/yes_icon.png" alt="Đã duyệt" />*@
</td>*/

    
    if (item.TCHUAN_HD == true)
    {
        <td height="20px" title="Đã duyệt">
            @*Html.DisplayFor(modelItem => item.TCHUAN_HOCTAP)*@
            <img src="~/Content/img/control/yes_icon.png" alt="Đã duyệt" />
        </td>
    }
    else
    {
        if (item.TCHUAN_HD == false)
        {
            <td height="20px" title="Không hợp lệ">
                @*Html.DisplayFor(modelItem => item.TCHUAN_HOCTAP)*@
                <img src="~/Content/img/control/no_icon.png" alt="Không hợp lệ" />
            </td>
        }
        else
        {
            <td height="20px" title="Đang chờ">
                @*Html.DisplayFor(modelItem => item.TCHUAN_HOCTAP)*@
                <img src="~/Content/img/control/no_icon.png" alt="Đang chờ" />
            </td>
        }
    }
    
}