@model DACS_SV5T.Models.MINHCHUNG

@{
    ViewBag.Title = "Quản lý minh chứng";
    Layout = "~/Views/Shared/_HoatDongLayout.cshtml";
}
@section _Header
{

    <link href="~/Content/css/buttonHover.css" rel="stylesheet" />
}
@using (Html.BeginForm("QuanLyMinhChung", "HoatDong", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="display:none">
        @Html.DropDownList("ID_SV", null, htmlAttributes: new { @class = "form-control" })
        @Html.DropDownList("ID_CTTCHI", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <div style="display:block">
        <div style="height: 200px; width:200px; border: 3px dashed #ccc;position:relative;margin: 0 auto">
            <div style="width:80%;height:80%;display:inline-block;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0">
                @Html.Action("HinhTieuChi", "HoatDong")
            </div>
        </div>
        <div>
            <input style="display:none" type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" />
            <label class="btn btn-2" style="text-align:center; margin-top:20px" for="img">Chọn hình</label>
        </div>

        <div style="margin-bottom:20px; vertical-align:middle; text-align:center">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
}