@model IEnumerable<DACS_SV5T.Models.LOAITIEUCHI>
<div class="panel-group" id="accordion">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@item.ID_LTCHI-LTC">
                        @Html.DisplayFor(modelItem => item.TEN_LTCHI)
                    </a>
                </h4>
            </div>
            <div id="@item.ID_LTCHI-LTC" class="panel-collaps ">
                <div class="panel-body">
                    <!--/*Html.Action("CTTieuChi", "HoatDong", new { LTC = //item.ID_LTCHI})*/
    //-->
                    @Html.Action("TieuChi", "HoatDongAdmin", new { LTC = item.ID_LTCHI })
                </div>
            </div>
        </div>
    }
</div>


