
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<p><font color=“#rrggbb”> Trụ sở: </font> 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</p>
<p><font color=“#rrggbb”>Số điện thoại:</font> 08 - 35120791</p>
<p><font color=“#rrggbb”>Website:</font> www.hutech.edu.vn/khoacntt</p>
<p>
    <font color=“#rrggbb”>Thời gian làm việc:</font><br /> Sáng: Từ 7h30 - 11h30 (từ thứ Hai đến thứ Bảy)
    <br /> Chiều: Từ 13h30 - 16h30 (từ thứ Hai đến thứ Sáu)
</p>
<p><font color=“#rrggbb”>Bản đồ:</font></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d125411.81801271981!2d106.6447448366013!3d10.802172918754225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x317528a455a3fa69%3A0x37952a5fff6da7c0!2skhoa+cntt+truong+hutech!3m2!1d10.8021808!2d106.7147854!5e0!3m2!1svi!2s!4v1528276836960" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>