USE [master]
GO
/****** Object:  Database [TEST_MOI_DACS_SV5T]    Script Date: 5/16/2018 9:58:41 AM ******/
CREATE DATABASE [TEST_MOI_DACS_SV5T]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST_MOI_DACS_SV5T', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TEST_MOI_DACS_SV5T.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TEST_MOI_DACS_SV5T_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TEST_MOI_DACS_SV5T_log.ldf' , SIZE = 2624KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST_MOI_DACS_SV5T].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST_MOI_DACS_SV5T]
GO
USE [TEST_MOI_DACS_SV5T]
GO
/****** Object:  Table [dbo].[CAP]    Script Date: 5/16/2018 9:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAP](
	[ID_CAP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CAP] [nvarchar](255) NULL,
	[NAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TEUCHI]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TEUCHI](
	[ID_CTTCHI] [int] IDENTITY(1,1) NOT NULL,
	[ID_TCHI] [int] NOT NULL,
	[NOIDUNG] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CTTCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[ID_CAP] [int] NOT NULL,
	[ID_CTTCHI] [int] NOT NULL,
	[TCHUAN_HOCTAP] [float] NULL,
	[TCHUAN_HD] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAP] ASC,
	[ID_CTTCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAVIEN]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAVIEN](
	[ID_KV] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KV] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITIEUCHI]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITIEUCHI](
	[ID_LTCHI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LTCHI] [nvarchar](255) NULL,
	[NAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LTCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID_MENU] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](50) NULL,
	[DATEBEGIN] [smalldatetime] NULL,
	[META] [varchar](255) NULL,
	[ORDER] [int] NULL,
	[LINK] [nvarchar](255) NULL,
	[HIDE] [int] NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MINHCHUNG]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MINHCHUNG](
	[ID_SV] [int] NOT NULL,
	[ID_CTTCHI] [int] NOT NULL,
	[TCHUAN_HOCTAP] [float] NULL,
	[TCHUAN_HD] [bit] NULL,
	[URL] [nvarchar](255) NULL,
	[DUYET] [bit] NULL,
	[MOTA] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SV] ASC,
	[ID_CTTCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID_ND] [int] IDENTITY(1,1) NOT NULL,
	[TENDN] [varchar](255) NULL,
	[MK] [varchar](20) NULL,
	[TENND] [nvarchar](255) NULL,
	[PQ] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[ID_SV] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SV] [nvarchar](255) NULL,
	[LOP] [varchar](20) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[SDT] [varchar](15) NULL,
	[ID_KV] [int] NOT NULL,
	[PASSWORD] [varchar](max) NULL,
	[MSSV] [int] NULL,
	[ID_CAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEUCHI]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUCHI](
	[ID_TCHI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TCHI] [nvarchar](255) NULL,
	[ID_LTCHI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TCHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 5/16/2018 9:58:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[ID_TT] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[DETAIL] [ntext] NULL,
	[DATEBEGIN] [smalldatetime] NULL,
	[META] [varchar](255) NULL,
	[ORDER] [int] NULL,
	[LINK] [nvarchar](255) NULL,
	[HIDE] [int] NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY CLUSTERED 
(
	[ID_TT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_TEUCHI]  WITH CHECK ADD FOREIGN KEY([ID_TCHI])
REFERENCES [dbo].[TIEUCHI] ([ID_TCHI])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([ID_CAP])
REFERENCES [dbo].[CAP] ([ID_CAP])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([ID_CTTCHI])
REFERENCES [dbo].[CT_TEUCHI] ([ID_CTTCHI])
GO
ALTER TABLE [dbo].[MINHCHUNG]  WITH CHECK ADD FOREIGN KEY([ID_CTTCHI])
REFERENCES [dbo].[CT_TEUCHI] ([ID_CTTCHI])
GO
ALTER TABLE [dbo].[MINHCHUNG]  WITH CHECK ADD FOREIGN KEY([ID_SV])
REFERENCES [dbo].[SINHVIEN] ([ID_SV])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([ID_KV])
REFERENCES [dbo].[KHOAVIEN] ([ID_KV])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_CAP] FOREIGN KEY([ID_CAP])
REFERENCES [dbo].[CAP] ([ID_CAP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_CAP]
GO
ALTER TABLE [dbo].[TIEUCHI]  WITH CHECK ADD FOREIGN KEY([ID_LTCHI])
REFERENCES [dbo].[LOAITIEUCHI] ([ID_LTCHI])
GO
USE [master]
GO
